pkgbase = sonic-frameworks-windowsystem
	pkgdesc = Access to the windowing system for Sonic-DE
	pkgver = 6.26.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-windowsystem
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-declarative
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = qt6-base
	depends = xcb-util-keysyms
	optdepends = qt6-declarative: QML bindings
	provides = kwindowsystem
	conflicts = kwindowsystem
	replaces = kwindowsystem
	source = sonic-frameworks-windowsystem-6.26.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-windowsystem/archive/refs/tags/6.26.0.tar.gz
	sha256sums = 58a768b5da6916de9e13d02dae4eaa8aff99317b095a9b18306d0f3f162f47ad

pkgname = sonic-frameworks-windowsystem
