pkgbase = sonic-frameworks-windowsystem
	pkgdesc = Access to the windowing system for Sonic-DE
	pkgver = 6.24.0.1
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-frameworks-windowsystem
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = qt6-declarative
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = qt6-base
	depends = xcb-util-keysyms
	optdepends = qt6-declarative: QML bindings
	provides = kwindowsystem
	conflicts = kwindowsystem
	replaces = kwindowsystem
	source = sonic-frameworks-windowsystem-6.24.0.1.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-windowsystem/archive/refs/tags/6.24.0.1.tar.gz
	sha256sums = e8474f23905c38e45e93ecbf2b99f1b88c6a48ea6531fcff1c5edb3703f212fb

pkgname = sonic-frameworks-windowsystem
